@import '../../root.css';

.group {
  position: relative;
  margin: 45px 0;
}

.formInput {
  background: none;
  background-color: white;
  color: var(--formMainColor);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--formMainColor);
  margin: 25px 0;
}

.formInput:focus {
  outline: none;
}

.formInput:focus .formInputLabel {
  top: -14px;
  font-size: 12px;
  color: var(--formLabel);
}

.formInput input[type='password'] {
  letter-spacing: 0.3em;
}

.formInputLabel {
  color: var(--formLabel);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.shrink {
  top: -14px;
  font-size: 12px;
  color: var(--formLabel);
}
